<h2>Add new course</h2>
{{#if error}}
<p class="alert">{{error}}</p>
{{/if}}
<form action="/add" method="POST" novalidate>
    <div class="input-field col s6">
        <input id="title" name="title" type="text" class="validate" required value="{{data.title}}">
        <label for="title">Course Name</label>
         <span class="helper-text" data-error="Write name"></span>
    </div>
     <div class="input-field col s6">
        <input id="price" name="price" type="text" class="validate" required min="1" value="{{data.price}}">
        <label for="price">Course price</label>
         <span class="helper-text" data-error="Write prise"></span>
    </div>
    <div class="input-field col s6">
        <input id="img" name="img" type="text" class="validate" required value="{{data.img}}">
        <label for="img">URL image</label>
         <span class="helper-text" data-error="Write URL image"></span>
    </div>

    {{!-- csrf --}}
    <input type="hidden" name="_csrf" value="{{csrf}}">
    
    <button type="submit" class="btn btn-primary">Add course</button>
</form>